<div class="container container-xl">
  {% for block in section.blocks %}
    {% assign blog = blogs[block.settings.blog] %}
    <a href="{{ blog.url }}">link to {{ blog.title }}</a>
    <p>{{ blog.title }}</p>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Archive Blog",
  "tag": "section",
  "class": "archive-blog",
  "blocks": [
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        }
      ]
    }
  ]
}
{% endschema %}
