<div class="container container-xl">
  <div class="text">
    <h2 class="heading-5xl">Locations</h2>
  </div>
  <div class="grid">
    <div class="grid__item">
      <div class="grid__item__content">
        <h3 class="heading-3xl">Location 1</h3>
      </div>
    </div>
    <div class="grid__item">
      <div class="grid__item__content">
        <h3 class="heading-3xl">Location 2</h3>
      </div>
    </div>
    <div class="grid__item">
      <div class="grid__item__content">
        <h3 class="heading-3xl">Location 3</h3>
      </div>
    </div>
  </div>
</div>

{% schema %}
{ "name": "Feature (Locations)", "tag": "section", "class": "featured-archive-location" }
{% endschema %}
