<div class="container container-xl">
  <div class="text">
    <h2 class="heading-3xl">
      {% if section.settings.collection.handle == 'all' %}
        Shop
      {% else %}
        {{ section.settings.collection.title }}
      {% endif %}
    </h2>
    <p>
      {% if section.settings.collection.handle == 'all' %}
        With our unwavering commitment to quality, we bring you the finest coffee that is ethically and sustainably
        sourced, roasted to perfection, and expertly crafted to deliver rich flavors and unforgettable moments. Whether
        you’re seeking the perfect brew for your morning ritual, a thoughtful gift for a fellow coffee lover, or an
        exploration of unique flavor profiles, Baba Java Store is your destination for exceptional coffee that awakens
        the senses and inspires connection.
      {% else %}
        {{ section.settings.collection.description }}
      {% endif %}
    </p>
    <a href="{{ section.settings.collection.url }}" class="button"> View Collection </a>
  </div>
  <div class="media">
    <img
      src="https://images.unsplash.com/photo-1511920170033-f8396924c348?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      width="48px"
      height="48px"
    >
    <img
      src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      width="48px"
      height="48px"
    >
    <img
      src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      width="48px"
      height="48px"
    >
    <img
      src="https://images.unsplash.com/photo-1541167760496-1628856ab772?q=80&w=1337&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      width="48px"
      height="48px"
    >
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
