<div class="container container-xl">
  <div class="text">
    <h2 class="heading-3xl">Farmers</h2>
    <p class="text-lg">
      At Baba Java, we serve not just coffee, but an experience rooted in genuine relationships and ethical practices.
      Our journey spans from farm to cup, ensuring you enjoy excellent, specialty-grade coffee. Our beans are sourced
      directly from farms worldwide, places as diverse as China and Colombia, where we ensure fair wages and healthy
      communities. Handpicked for their unique characteristics, these beans are then expertly roasted to highlight their
      distinct tasting notes. Each purchase you make is a vote for ethical trade and global support. Enjoy our coffee at
      home and join us in fostering worldwide connections, one cup at a time.
    </p>
  </div>
  <div class="media">
    <img
      src="https://babajavacoffee.com/wp-content/uploads/117377244_630199697900811_1601391166847642389_n-1.jpg"
      alt=""
      width="240px"
      height="240px"
    >
  </div>
</div>

{% schema %}
{
  "name": "Feature (Farms)",
  "tag": "section",
  "class": "featured-archive-farm"
}
{% endschema %}
