<div class="upper">
  <div class="container container-xl">
    <nav>
      {% for link in linklists.footer.links %}
        {% render 'button', button: link.title, style: 'link', text: link.title, url: link.url %}
      {% endfor %}
    </nav>
    {% if settings.social_email_link != blank
      or settings.social_facebook_link != blank
      or settings.social_instagram_link != blank
    %}
      <nav>
        {% if settings.social_email_link != blank %}
          {% render 'button', button: 'Email', style: 'link', text: 'Email', url: settings.social_email_link %}
        {% endif %}
        {% if settings.social_facebook_link != blank %}
          {% render 'button', button: 'Facebook', style: 'link', text: 'Facebook', url: settings.social_facebook_link %}
        {% endif %}
        {% if settings.social_instagram_link != blank %}
          {% render 'button',
            button: 'Instagram',
            style: 'link',
            text: 'Instagram',
            url: settings.social_instagram_link
          %}
        {% endif %}
      </nav>
    {% endif %}
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Email</li>
    </ul>
    <div>
      <h2 class="heading-lg">About Baba Java</h2>
      <p>
        We strive to provide not only outstanding coffee but also exceptional customer service and a wealth of knowledge
        through our commitment to education. At Baba Java, our journey from farm to cup is one of excellence.
      </p>
      <a href="#"> Learn More </a>
    </div>
    <div>
      <h2 class="heading-lg">Get In Touch</h2>
      <p>
        Contact us to find out more about our café, our coffee, and our educational resources and catering services.
      </p>
      <a href="#"> Contact Us </a>
    </div>
  </div>
</div>
<div class="lower">
  <div class="container container-xl">
    <p>© 2025 Baba Java. All rights reserved.</p>
    <p>Designed and developed by <a href="#">Wheelbarrow Digital</a></p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer"
}
{% endschema %}
