<div class="upper">
  <div class="container container-xl">
    <nav>
      {% for link in linklists.footer.links %}
        {% render 'button', button: link.title, style: 'link', text: link.title, url: link.url %}
      {% endfor %}
    </nav>
    <nav>
      {% for link in linklists['social-media'].links %}
        {% render 'button', button: link.title, style: 'link', text: link.title, url: link.url %}
      {% endfor %}
    </nav>
    {% for block in section.blocks %}
      <div>
        <h2 class="heading-2xl">{{ block.settings.heading }}</h2>
        <p class="text-md">{{ block.settings.content }}</p>
        {% render 'button',
          button: block.settings.button_text,
          style: 'link',
          text: block.settings.button_text,
          url: block.settings.button_url
        %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="lower">
  <div class="container container-xl">
    <p class="text-sm">© 2025 Baba Java. All rights reserved.</p>
    <p class="text-sm">
      Designed and developed by
      <a class="bold underline" href="https://www.wheelbarrowdigital.com" target="_blank">Wheelbarrow Digital</a>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "blocks": [
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "About Baba Java"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "We strive to provide not only outstanding coffee but also exceptional customer service and a wealth of knowledge through our commitment to education. At Baba Java, our journey from farm to cup is one of excellence."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ]
}
{% endschema %}
