<div class="upper">
  <div class="container container-xl">
    <ul>
      <li>Partners</li>
      <li>Baba Java International (UAE)</li>
      <li>Privacy Policy</li>
      <li>About</li>
    </ul>
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Email</li>
    </ul>
    <div>
      <h2 class="heading-lg">About Baba Java</h2>
      <p>
        We strive to provide not only outstanding coffee but also exceptional customer service and a wealth of knowledge
        through our commitment to education. At Baba Java, our journey from farm to cup is one of excellence.
      </p>
      <a href="#"> Learn More </a>
    </div>
    <div>
      <h2 class="heading-lg">Get In Touch</h2>
      <p>
        Contact us to find out more about our café, our coffee, and our educational resources and catering services.
      </p>
      <a href="#"> Contact Us </a>
    </div>
  </div>
</div>
<div class="lower">
  <div class="container container-xl">
    <p>© 2025 Baba Java. All rights reserved.</p>
    <p>Designed and developed by <a href="#">Wheelbarrow Digital</a></p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer"
}
{% endschema %}
