{% style %}
  /* BASE NOTIFICATION BAR */
  header {
    .notification-bar {
      background-color: var(--background-200);
      color: var(--gray-1000);
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      > .container {
        margin: var(--spacing-2) auto;
        max-width: 1792px;
      }
    }
  }
  /* END BASE NOTIFICATION BAR */

  /* BASE NAVBAR */
  header {
    .logo-wrapper {
      display: flex;
    }

    .navbar {
      /* this overflow:unset is in order to make sure mobile-menu can be seen */
      background-color: var(--background-100);
      color: var(--gray-1000);
      display: flex;
      overflow: unset;
      position: relative;

      > .container {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-7);
        justify-content: space-between;
        margin: var(--spacing-4) auto;
        max-width: 1792px;
        overflow: visible;
        position: relative;
        width: 90%;
        z-index: 100;
      }
    }

    .menu-toggle {
      background-color: transparent;
      border: none;
      color: currentColor;
      cursor: pointer;
      position: relative;
      height: 2rem;
      width: 2rem;

      svg {
        left: 50%;
        position: absolute;
        top: 50%;
      }

      .hamburger {
        height: 2rem;
        width: 2rem;
      }

      .close {
        height: 1.25rem;
        width: 1.25rem;
      }
    }

    .mobile-menu {
      align-items: flex-end;
      background-color: var(--background-100);
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-7);
      justify-content: flex-start;
      left: 0;
      padding: var(--spacing-9) var(--spacing-6);
      position: absolute;
      text-align: right;
      top: 100%;
      width: 100%;
      z-index: 1000;

      nav {
        align-items: flex-end;
        display: flex;
        flex-flow: column nowrap;
        gap: var(--spacing-4);
        justify-content: flex-start;
        text-align: right;
      }
    }

    .desktop-menu {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-4);
    }
  }
  /* END BASE NAVBAR */

  /* SHOW/HIDE NAVBAR */
  header {
    .menu-toggle,
    .mobile-menu {
      @media (min-width: 992px) {
        display: none;
      }
    }

    .menu-toggle {
      svg {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &.hamburger {
          transform: translate(-50%, -50%) rotate(0deg);
        }

        &.close {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .mobile-menu {
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .desktop-menu {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .navbar.closed {
      .hamburger {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        visibility: visible;
      }

      .close {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(90deg);
        visibility: hidden;
      }

      .mobile-menu {
        opacity: 0;
        visibility: hidden;

        nav {
          opacity: 0;
          visibility: hidden;
        }

        .nav-item {
          opacity: 0;
          transform: translateY(0.5rem);
          visibility: hidden;
        }
      }
    }

    .navbar.open {
      .hamburger {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-90deg);
        visibility: hidden;
      }

      .close {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        visibility: visible;
      }

      .mobile-menu {
        opacity: 1;
        visibility: visible;

        nav {
          opacity: 1;
          visibility: visible;
        }

        .nav-item {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;

          &:nth-of-type(1) {
            transition-delay: 0.05s;
          }

          &:nth-of-type(2) {
            transition-delay: 0.1s;
          }

          &:nth-of-type(3) {
            transition-delay: 0.15s;
          }

          &:nth-of-type(4) {
            transition-delay: 0.2s;
          }

          &:nth-of-type(5) {
            transition-delay: 0.25s;
          }

          &:nth-of-type(6) {
            transition-delay: 0.3s;
          }

          &:nth-of-type(7) {
            transition-delay: 0.35s;
          }

          &:nth-of-type(8) {
            transition-delay: 0.4s;
          }

          &:nth-of-type(9) {
            transition-delay: 0.45s;
          }

          &:nth-of-type(10) {
            transition-delay: 0.5s;
          }
        }
      }
    }
  }
  /* END SHOW/HIDE NAVBAR */
{% endstyle %}

<div class="notification-bar">
  <div class="container">
    <p class="text-sm">Notification Bar</p>
  </div>
</div>

<div class="navbar closed">
  <div class="container">
    {% if section.settings.logo != blank %}
      <a class="logo-wrapper" href="/">
        <img
          src="{{ section.settings.logo | image_url: width: 100 }}"
          alt="{{ section.settings.logo.alt }}"
          width="56px"
          height="100%"
        >
      </a>
    {% endif %}

    <button class="menu-toggle">
      <svg
        class="hamburger"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        id="Navigation-Menu--Streamline-Ultimate"
      >
        <desc>Navigation Menu Streamline Icon: https://streamlinehq.com</desc>
        <path d="m2.25 18.003 19.5 0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
        <path d="m2.25 12.003 19.5 0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
        <path d="m2.25 6.003 19.5 0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
      </svg>
      <svg class="close" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="Close--Streamline-Ultimate">
        <desc>Close Streamline Icon: https://streamlinehq.com</desc>
        <path d="m0.75 23.249 22.5 -22.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
        <path d="M23.25 23.249 0.75 0.749" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
      </svg>
    </button>

    <div class="desktop-menu">
      <nav>
        {% for link in linklists['main-menu'].links %}
          {% render 'button', button: link.title, class: 'nav-item', style: 'link', text: link.title, url: link.url %}
        {% endfor %}
        {% render 'button', button: 'Cart', class: 'nav-item', style: 'link', text: 'Cart', url: '/cart' %}
        {% render 'button', button: 'Account', class: 'nav-item', style: 'link', text: 'Account', url: '/account' %}
      </nav>
    </div>
  </div>

  <div class="mobile-menu">
    <nav>
      {% for link in linklists['main-menu'].links %}
        {% render 'button', button: link.title, class: 'nav-item', style: 'link', text: link.title, url: link.url %}
      {% endfor %}
      {% render 'button', button: 'Cart', class: 'nav-item', style: 'link', text: 'Cart', url: '/cart' %}
      {% render 'button', button: 'Account', class: 'nav-item', style: 'link', text: 'Account', url: '/account' %}
    </nav>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const main = document.querySelector('main#MainContent');
    const navbar = document.querySelector('.navbar');
    const menuButton = document.querySelector('.navbar .menu-toggle');

    const toggleMenu = () => {
      if (main.classList.contains('mobile-menu-open')) {
        main.classList.remove('mobile-menu-open');
        main.classList.add('mobile-menu-closed');
      } else {
        main.classList.remove('mobile-menu-closed');
        main.classList.add('mobile-menu-open');
      }

      if (navbar.classList.contains('open')) {
        navbar.classList.remove('open');
        navbar.classList.add('closed');
      } else {
        navbar.classList.remove('closed');
        navbar.classList.add('open');
      }
    };

    menuButton?.addEventListener('click', toggleMenu);
  });
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header color-scheme-dark",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
