{% style %}
  /* BASE HEADER */
  header {
    z-index: 100;
  }
  /* END BASE HEADER */

  /* BASE NOTIFICATION BAR */
  header {
    .notification-bar {
      background-color: var(--background-200);
      color: var(--gray-1000);
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: relative;
      z-index: 500;

      > .container {
        margin: 0 auto;
        max-width: 1792px;
        padding: var(--spacing-2) 0;
      }
    }
  }
  /* END BASE NOTIFICATION BAR */

  /* BASE NAVBAR */
  header {
    .logo-wrapper {
      display: flex;
    }

    .navbar {
      /* this overflow:unset is in order to make sure mobile-menu can be seen */
      background-color: var(--background-100);
      color: var(--gray-1000);
      display: flex;
      overflow: unset;
      position: relative;
      z-index: 5;

      > .container {
        align-items: center;
        background-color: var(--background-100); /* this is to make sure the mobile menu appears "behind" the navbar */
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-7);
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1792px;
        overflow: visible;
        padding: var(--spacing-4) 0;
        position: relative;
        width: 90%;
        z-index: 5;
      }
    }

    .menu-toggle {
      background-color: transparent;
      border: none;
      color: currentColor;
      cursor: pointer;
      position: relative;
      height: 2rem;
      width: 2rem;

      svg {
        left: 50%;
        position: absolute;
        top: 50%;
      }

      .hamburger {
        height: 2rem;
        width: 2rem;
      }

      .close {
        height: 1.25rem;
        width: 1.25rem;
      }
    }

    .cart-account-wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--spacing-7);
      justify-content: flex-end;
    }

    .icon.account,
    .icon.cart {
      height: 1.75rem;
      width: 1.75rem;
    }

    .mobile-menu {
      align-items: flex-end;
      background-color: var(--background-100);
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-7);
      justify-content: flex-start;
      left: 0;
      padding: var(--spacing-9) var(--spacing-6);
      position: absolute;
      text-align: right;
      top: 100%;
      width: 100%;
      z-index: 1;

      nav {
        align-items: flex-end;
        display: flex;
        flex-flow: column nowrap;
        gap: var(--spacing-4);
        justify-content: flex-start;
        text-align: right;
      }

      .cart-account-wrapper {
        margin-top: var(--spacing-7);
      }
    }

    .desktop-menu {
      nav {
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-7);
      }
    }
  }
  /* END BASE NAVBAR */

  /* SHOW/HIDE NAVBAR */
  header {
    .menu-toggle,
    .mobile-menu {
      @media (min-width: 992px) {
        display: none;
      }
    }

    .menu-toggle {
      svg {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &.hamburger {
          transform: translate(-50%, -50%) rotate(0deg);
        }

        &.close {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .mobile-menu {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .desktop-menu {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .navbar.closed {
      .hamburger {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        visibility: visible;
      }

      .close {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(90deg);
        visibility: hidden;
      }

      .mobile-menu {
        opacity: 0;
        transform: translateY(-480px);
        visibility: hidden;

        nav {
          opacity: 0;
          visibility: hidden;
        }

        .nav-item {
          opacity: 0;
          transform: translateY(0.5rem);
          visibility: hidden;
        }
      }
    }

    .navbar.open {
      .hamburger {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-90deg);
        visibility: hidden;
      }

      .close {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        visibility: visible;
      }

      .mobile-menu {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;

        nav {
          opacity: 1;
          visibility: visible;
        }

        .nav-item {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;

          &:nth-child(1 of .nav-item) {
            transition-delay: 0.05s;
          }

          &:nth-child(2 of .nav-item) {
            transition-delay: 0.1s;
          }

          &:nth-child(3 of .nav-item) {
            transition-delay: 0.15s;
          }

          &:nth-child(4 of .nav-item) {
            transition-delay: 0.2s;
          }

          &:nth-child(5 of .nav-item) {
            transition-delay: 0.25s;
          }

          &:nth-child(6 of .nav-item) {
            transition-delay: 0.3s;
          }

          &:nth-child(7 of .nav-item) {
            transition-delay: 0.35s;
          }

          &:nth-child(8 of .nav-item) {
            transition-delay: 0.4s;
          }

          &:nth-child(9 of .nav-item) {
            transition-delay: 0.45s;
          }

          &:nth-child(10 of .nav-item) {
            transition-delay: 0.5s;
          }
        }
      }
    }
  }
  /* END SHOW/HIDE NAVBAR */
{% endstyle %}

<div class="notification-bar">
  <div class="container reveal">
    <p class="text-sm">{{ section.settings.notification_bar_text }}</p>
  </div>
</div>

<div class="navbar closed">
  <div class="container">
    {% if section.settings.logo != blank %}
      <a class="logo-wrapper" href="/">
        <img
          src="{{ section.settings.logo | image_url: width: 100 }}"
          alt="{{ section.settings.logo.alt }}"
          width="56px"
          height="100%"
        >
      </a>
    {% endif %}

    <button class="menu-toggle">
      {% render 'icon', icon: 'hamburger' %}
      {% render 'icon', icon: 'close' %}
    </button>

    <div class="desktop-menu">
      <nav>
        {% for link in linklists[section.settings.navigation_bar_links].links %}
          {% render 'button', button: link.title, class: 'nav-item', style: 'link', text: link.title, url: link.url %}
        {% endfor %}
        <div class="nav-item cart-account-wrapper">
          <a href="/cart">
            {% render 'icon', icon: 'cart' %}
          </a>

          <a href="/account">
            {% render 'icon', icon: 'account' %}
          </a>
        </div>
      </nav>
    </div>
  </div>

  <div class="mobile-menu">
    <nav>
      {% for link in linklists[section.settings.navigation_bar_links].links %}
        {% render 'button', button: link.title, class: 'nav-item', style: 'link', text: link.title, url: link.url %}
      {% endfor %}

      <div class="nav-item cart-account-wrapper">
        <a href="/cart">
          {% render 'icon', icon: 'cart' %}
        </a>

        <a href="/account">
          {% render 'icon', icon: 'account' %}
        </a>
      </div>
    </nav>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const main = document.querySelector('main#MainContent');
    const navbar = document.querySelector('.navbar');
    const menuButton = document.querySelector('.navbar .menu-toggle');

    const toggleMenu = () => {
      if (main.classList.contains('mobile-menu-open')) {
        main.classList.remove('mobile-menu-open');
        main.classList.add('mobile-menu-closed');
      } else {
        main.classList.remove('mobile-menu-closed');
        main.classList.add('mobile-menu-open');
      }

      if (navbar.classList.contains('open')) {
        navbar.classList.remove('open');
        navbar.classList.add('closed');
      } else {
        navbar.classList.remove('closed');
        navbar.classList.add('open');
      }
    };

    menuButton?.addEventListener('click', toggleMenu);
  });
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header color-scheme-dark",
  "settings": [
    {
      "type": "header",
      "content": "Notification Bar"
    },
    {
      "type": "inline_richtext",
      "id": "notification_bar_text",
      "label": "Notification Bar Text",
      "default": "Welcome to our store"
    },
    {
      "type": "header",
      "content": "Navigation Bar"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "navigation_bar_links",
      "label": "Navigation Bar Links",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
