{%- liquid
  assign location = page.metaobject
-%}

{{ page | json }}

{% if location == blank %}
  <p>No location found</p>
{% endif %}

<div class="container container-xl">
  <h2>{{ location.name }}</h2>
</div>

{% schema %}
{
  "name": "Location Cover",
  "tag": "section",
  "class": "location-cover"
}
{% endschema %}
