{% style %}
  section.relume-cta-020 {
    > .container {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-7);

      @media (min-width: 768px) {
        gap: var(--spacing-8);
      }

      @media (min-width: 1200px) {
        gap: var(--spacing-9);
      }
    }

    .text-header {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);
      max-width: 768px;
    }

    form.newsletter-form {
      align-items: flex-end;
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-4);
      max-width: 560px;

      .form-success {
        flex: 1 0 100%;
      }

      .form-field-wrapper {
        @media (min-width: 576px) {
          flex-basis: 320px;
        }
      }

      .button[type='submit'] {
        @media (min-width: 576px) {
          flex: 0 1 max-content;
          height: max-content;
        }
      }
    }

    input[type='email'] {
      flex-basis: 100%;
    }

    button[type='submit'] {
      flex-basis: 100%;
    }

    .terms-conditions {
      flex-basis: 100%;
    }
  }
{% endstyle %}

<div class="container container-lg {% unless request.design_mode %}reveal-from-bottom{% endunless %}">
  <div class="text-header">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h2 class="heading-5xl">{{ block.settings.content }}</h2>
        {% when 'paragraph' %}
          {% assign formatted_content = block.settings.content | replace: '<p', '<p class="text-lg"' %}
          {{ formatted_content }}
      {% endcase %}
    {% endfor %}
  </div>
  {%- form 'customer', class: 'newsletter-form' -%}
    {% if form.posted_successfully? %}
      <p class="form-success">Thanks for subscribing!</p>
    {% endif %}

    <input type="hidden" name="contact[tags]" value="newsletter">

    <div class="form-field-wrapper">
      <div class="form-field email">
        <label class="field-label heading-md" for="email">Email</label>
        <input
          id="email"
          type="email"
          name="contact[email]"
          class="field-input text-md"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="email-error"
          {% elsif form.posted_successfully? %}
            aria-describedby="email-success"
          {% endif %}
          placeholder="john.smith@email.com"
          required
        >
      </div>
    </div>

    {% render 'button', color: 'primary', style: 'fill', text: 'Sign Up', type: 'submit' %}

    <p class="text-xs terms-conditions">By signing up, you agree to our <a href="#">Terms and Conditions</a></p>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "CTA 20",
  "tag": "section",
  "class": "relume-cta-020 color-scheme-dark",
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "newsletter_signup",
      "name": "Newsletter Signup",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        }
      ]
    }
  ]
}
{% endschema %}
