{% style %}
  section.relume-layout-238 {
    background-color: var(--background-100);
    color: var(--gray-1000);

    > .container {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-11);

      @media (min-width: 768px) {
      }

      @media (min-width: 992px) {
        gap: var(--spacing-15);
      }
    }

    .text-header {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);
      margin: 0 auto;
      max-width: 768px;
    }

    .grid {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-10);
      justify-content: center;

      @media (min-width: 992px) {
        gap: var(--spacing-11);
      }

      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      }

      @media (min-width: 1440px) {
        gap: var(--spacing-11);
      }
    }

    .grid-item {
      display: flex;
      flex: 0 1 360px;
      flex-flow: column nowrap;
      gap: var(--spacing-5);

      @media (min-width: 768px) {
        flex: 0 1 320px;
      }
    }

    .grid-item:last-child {
      justify-self: center;
    }

    .icon-text {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);
    }

    .icon {
      height: 3rem;
      width: 3rem;
    }

    .text {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);
    }
  }
{% endstyle %}
<div class="container container-lg {% unless request.design_mode %}reveal-from-bottom{% endunless %}">
  {% if section.settings.heading != blank or section.settings.paragraph != blank %}
    <div class="text-header">
      {% if section.settings.heading != blank %}
        <h2 class="heading-5xl text-center">
          {{ section.settings.heading }}
        </h2>
      {% endif %}
      {% if section.settings.paragraph != blank %}
        <p class="text-center">
          {{ section.settings.paragraph }}
        </p>
      {% endif %}
    </div>
  {% endif %}
  <div class="grid">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'grid_item' %}
          <div class="grid-item">
            <div class="icon-text">
              {% if block.settings.icon != blank %}
                {% assign icon_parts = block.settings.icon | split: '|' %}
                {% render 'icon',
                  icon: icon_parts[3],
                  library: icon_parts[0],
                  set: icon_parts[1],
                  style: icon_parts[2]
                %}
              {% endif %}
              {% if block.settings.heading != blank or block.settings.paragraph != blank %}
                <div class="text">
                  {% if block.settings.heading != blank %}
                    <h3 class="heading-3xl text-center">{{ block.settings.heading }}</h3>
                  {% endif %}
                  {% if block.settings.paragraph != blank %}
                    <p class="text-sm text-center">{{ block.settings.paragraph }}</p>
                  {% endif %}
                </div>
              {% endif %}
            </div>

            {% if block.settings.button_text != blank and block.settings.button_url != blank %}
              {% render 'button',
                class: 'justify-center text-center',
                text: block.settings.button_text,
                url: block.settings.button_url,
                style: 'link'
              %}
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Layout 238",
  "tag": "section",
  "class": "relume-layout-238 color-scheme-light amber",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "What We Do"
    },
    {
      "type": "inline_richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "limit": 3,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            { "value": "streamline|ultimate|bold|coffee-cup", "label": "Coffee Cup" },
            { "value": "streamline|ultimate|bold|coffee-mug", "label": "Coffee Mug" },
            { "value": "streamline|ultimate|bold|coffee-read", "label": "Coffee Read" },
            { "value": "streamline|ultimate|bold|coffee-turkish", "label": "Coffee Turkish" },
            { "value": "streamline|ultimate|bold|shop-barista", "label": "Shop Barista" }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Service"
        },
        {
          "type": "inline_richtext",
          "id": "paragraph",
          "label": "Paragraph"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ]
}
{% endschema %}
