{% style %}
  section.relume-cover-007 {
    align-items: center;
    color: var(--gray-1000);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 40rem;

    @media (min-width: 1440px) {
      min-height: 60rem;
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-6);
      position: relative;
      z-index: 10;

      @media (min-width: 768px) {
        max-width: 560px;
      }

      .text {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--spacing-1);
      }
    }

    .background {
      z-index: 0;
    }
  }
{% endstyle %}

<div class="container container-lg {% if request.design_mode %} design-mode{% endif %}">
  <h1 class="visually-hidden">{{ shop.name }}</h1>

  <div class="content">
    <div class="text">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2 class="display-6xl">
              {{ block.settings.content }}
            </h2>
          {% when 'paragraph' %}
            <p class="text-lg">
              {{ block.settings.content }}
            </p>
        {% endcase %}
      {% endfor %}
    </div>
    {% capture button_content %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          {% if block.settings.button_text and block.settings.button_url %}
            {% render 'button', text: block.settings.button_text, url: block.settings.button_url, style: block.settings.button_style %}
          {% endif %}         
      {% endcase %}
      {% endfor %}
    {% endcapture %}
    {% render 'buttons', content: button_content %}
  </div>

  {% assign background_image = section.settings.background_image | default: settings.default_background_image %}

  {% if background_image != blank %}
    {% render 'image', image: background_image, class: 'background' %}
  {% else %}
    {% render 'image',
      src: 'https://images.unsplash.com/photo-1616672239881-aec9f3f43521?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      class: 'background'
    %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Cover 007",
  "tag": "section",
  "class": "relume-cover-007 color-scheme-dark",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Heading text",
          "default": "Lorem ipsum dolor sit amet"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "content",
          "label": "Paragraph text",
          "default": "Lorem ipsum dolor sit amet consectetur. Mauris sem dictum blandit aliquam risus amet. Vitae ipsum consectetur vulputate sed ac pellentesque suspendisse sit pulvinar. Orci facilisis sed leo commodo volutpat in. Convallis tempor condimentum tellus ultrices in diam velit pretium."
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
