{% style %}
  section.relume-layout-012 {
    > .container {
      align-items: center;
      display: grid;
      gap: var(--spacing-9);
      grid-template-columns: 1fr;

      @media (min-width: 992px) {
        grid-template-columns: 54fr 46fr;
      }

      @media (min-width: 1440px) {
        gap: var(--spacing-13);
      }
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-7);
    }

    .text {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);

      @media (min-width: 1440px) {
        gap: var(--spacing-6);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--spacing-6) var(--spacing-4);

      @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .grid-item {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-5);
    }

    .icon {
      height: 3rem;
      width: 3rem;
    }
  }
{% endstyle %}

<div class="container container-lg reveal-from-bottom">
  <div class="content">
    <div class="text">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2 class="heading-4xl">
              {{ block.settings.content }}
            </h2>
          {% when 'paragraph' %}
            <p class="text-lg">
              {{ block.settings.content }}
            </p>
        {% endcase %}
      {% endfor %}
    </div>

    <div class="grid">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'grid_item' %}
            <div class="grid-item">
              {% if block.settings.icon != blank %}
                {% assign icon_parts = block.settings.icon | split: '|' %}
                {% render 'icon',
                  icon: icon_parts[3],
                  library: icon_parts[0],
                  set: icon_parts[1],
                  style: icon_parts[2]
                %}
              {% endif %}
              <h3 class="heading-2xl">
                {{ block.settings.heading }}
              </h3>
              <p class="text-lg">
                {{ block.settings.paragraph }}
              </p>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  {% if section.settings.image != blank %}
    {% render 'image',
      aspect_ratio: '6:7',
      class: 'media',
      focal_point: section.settings.image.presentation.focal_point,
      image: section.settings.image
    %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Layout 012",
  "tag": "section",
  "class": "relume-layout-012",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "grid_item",
      "name": "Grid Item",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "streamline|core|solid|coffee-bean",
              "label": "Coffee Bean"
            },
            {
              "value": "streamline|ultimate|bold|earth-1",
              "label": "Earth"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "inline_richtext",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ]
    }
  ]
}
{% endschema %}
