footer {
  margin-bottom: 240px; /* just to make sure the bottom of the page is always visible about the preview bar */
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  gap: 0;
  margin: 0;
  padding: 0;
}

*,
a,
span {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: none;
}
/* END RESET */

/* DEFAULT */
html {
  font-size: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-100);
  color: var(--gray-1000);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5;
  overflow: auto;
  position: relative;
  text-decoration: none;
}
/* END DEFAULT */

/* TYPOGRAPHY */
.display-2xs,
.heading-2xs,
.link-2xs,
.text-2xs {
  font-size: 0.625rem;
  line-height: 1rem;
}

.display-xs,
.heading-xs,
.link-xs,
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.display-sm,
.heading-sm,
.link-sm,
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.display-md,
.heading-md,
.link-md,
.text-md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.display-lg,
.heading-lg,
.link-lg,
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.display-xl,
.heading-xl,
.link-xl,
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.display-2xl,
.heading-2xl,
.link-2xl,
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.display-3xl,
.heading-3xl,
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.display-4xl,
.heading-4xl,
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.display-5xl,
.heading-5xl,
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.display-6xl,
.heading-6xl,
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.display-7xl,
.heading-7xl,
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.display-8xl,
.heading-8xl,
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.display-9xl,
.heading-9xl,
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

[class^='display-'] {
  font-family: var(--font-display);
  font-weight: var(--font-display-weight);
  line-height: 1.2em;
  text-transform: uppercase;
  text-wrap: balance;
}

[class^='heading-'] {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  line-height: 1;
  text-wrap: balance;
}

[class^='link-'] {
  font-weight: 500;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: var(--font-bold-weight);
}

.semibold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.text-danger {
  color: var(--color-danger);
}
/* END TYPOGRAPHY */
