/* TYPOGRAPHY */
:root {
  --font-fancy: 'nexa-rust-sans-black-2', 'Bebas Neue', 'Montserrat', sans-serif;
  --font-mono: 'ibm-plex-mono', monospace;
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'nexa-rust-slab-black-2', serif;

  --font-body: var(--font-sans);
  --font-body-weight: 300;

  --font-semibold-weight: 500;
  --font-bold-weight: 700;

  --font-display: var(--font-fancy);
  --font-display-weight: 900;

  --font-heading: 'Bebas Neue', var(--font-sans);
  --font-heading-weight: 700;
}

/* END TYPOGRAPHY */

/* COLORS */
.light-theme,
.color-scheme-light {
  /*
      Generally, the usage of colors should follow this pattern: 
      - 100: Default background
      - 200: Hover background
      - 300: Active background
      - 400: Default border
      - 500: Hover border
      - 600: Active border
      - 700: High contract background
      - 800: Hover high contrast background
      - 900: Secondary text and icons
      - 1000: Primary text and icons
      */

  /* Gray */
  --gray-100-value: 30, 5%, 95%;
  --gray-200-value: 30, 5%, 92%;
  --gray-300-value: 30, 5%, 90%;
  --gray-400-value: 30, 5%, 85%;
  --gray-500-value: 30, 5%, 79%;
  --gray-600-value: 30, 5%, 66%;
  --gray-700-value: 30, 5%, 56%;
  --gray-800-value: 30, 5%, 49%;
  --gray-900-value: 30, 5%, 40%;
  --gray-1000-value: 30, 5%, 9%;
  --gray-100: hsla(var(--gray-100-value), 1);
  --gray-200: hsla(var(--gray-200-value), 1);
  --gray-300: hsla(var(--gray-300-value), 1);
  --gray-400: hsla(var(--gray-400-value), 1);
  --gray-500: hsla(var(--gray-500-value), 1);
  --gray-600: hsla(var(--gray-600-value), 1);
  --gray-700: hsla(var(--gray-700-value), 1);
  --gray-800: hsla(var(--gray-800-value), 1);
  --gray-900: hsla(var(--gray-900-value), 1);
  --gray-1000: hsla(var(--gray-1000-value), 1);
  --gray-alpha-100: hsla(0, 0%, 0%, 0.05);
  --gray-alpha-200: hsla(0, 0%, 0%, 0.08);
  --gray-alpha-300: hsla(0, 0%, 0%, 0.1);
  --gray-alpha-400: hsla(0, 0%, 0%, 0.18);
  --gray-alpha-500: hsla(0, 0%, 0%, 0.21);
  --gray-alpha-600: hsla(0, 0%, 0%, 0.34);
  --gray-alpha-700: hsla(0, 0%, 0%, 0.44);
  --gray-alpha-800: hsla(0, 0%, 0%, 0.51);
  --gray-alpha-900: hsla(0, 0%, 0%, 0.61);
  --gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

  /* Blue */
  --blue-100-value: 212, 70%, 97%;
  --blue-200-value: 210, 70%, 96%;
  --blue-300-value: 210, 70%, 94%;
  --blue-400-value: 209, 70%, 90%;
  --blue-500-value: 209, 70%, 80%;
  --blue-600-value: 208, 70%, 66%;
  --blue-700-value: 212, 70%, 48%;
  --blue-800-value: 212, 70%, 41%;
  --blue-900-value: 211, 70%, 42%;
  --blue-1000-value: 211, 70%, 15%;
  --blue-100: hsla(var(--blue-100-value), 1);
  --blue-200: hsla(var(--blue-200-value), 1);
  --blue-300: hsla(var(--blue-300-value), 1);
  --blue-400: hsla(var(--blue-400-value), 1);
  --blue-500: hsla(var(--blue-500-value), 1);
  --blue-600: hsla(var(--blue-600-value), 1);
  --blue-700: hsla(var(--blue-700-value), 1);
  --blue-800: hsla(var(--blue-800-value), 1);
  --blue-900: hsla(var(--blue-900-value), 1);
  --blue-1000: hsla(var(--blue-1000-value), 1);

  /* Red */
  --red-100-value: 0, 80%, 97%;
  --red-200-value: 0, 80%, 96%;
  --red-300-value: 0, 80%, 95%;
  --red-400-value: 0, 80%, 92%;
  --red-500-value: 0, 80%, 85%;
  --red-600-value: 359, 80%, 71%;
  --red-700-value: 358, 80%, 59%;
  --red-800-value: 358, 80%, 52%;
  --red-900-value: 358, 80%, 48%;
  --red-1000-value: 355, 80%, 15%;
  --red-100: hsla(var(--red-100-value), 1);
  --red-200: hsla(var(--red-200-value), 1);
  --red-300: hsla(var(--red-300-value), 1);
  --red-400: hsla(var(--red-400-value), 1);
  --red-500: hsla(var(--red-500-value), 1);
  --red-600: hsla(var(--red-600-value), 1);
  --red-700: hsla(var(--red-700-value), 1);
  --red-800: hsla(var(--red-800-value), 1);
  --red-900: hsla(var(--red-900-value), 1);
  --red-1000: hsla(var(--red-1000-value), 1);

  /* Amber */
  --amber-100-value: 39, 100%, 95%;
  --amber-200-value: 44, 100%, 92%;
  --amber-300-value: 43, 96%, 90%;
  --amber-400-value: 42, 100%, 78%;
  --amber-500-value: 38, 100%, 71%;
  --amber-600-value: 36, 90%, 62%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 30, 100%, 32%;
  --amber-1000-value: 20, 79%, 17%;
  --amber-100: hsla(var(--amber-100-value), 1);
  --amber-200: hsla(var(--amber-200-value), 1);
  --amber-300: hsla(var(--amber-300-value), 1);
  --amber-400: hsla(var(--amber-400-value), 1);
  --amber-500: hsla(var(--amber-500-value), 1);
  --amber-600: hsla(var(--amber-600-value), 1);
  --amber-700: hsla(var(--amber-700-value), 1);
  --amber-800: hsla(var(--amber-800-value), 1);
  --amber-900: hsla(var(--amber-900-value), 1);
  --amber-1000: hsla(var(--amber-1000-value), 1);

  /* Green */
  --green-100-value: 90, 60%, 96%;
  --green-200-value: 90, 60%, 95%;
  --green-300-value: 90, 60%, 91%;
  --green-400-value: 90, 60%, 86%;
  --green-500-value: 90, 60%, 75%;
  --green-600-value: 90, 60%, 64%;
  --green-700-value: 90, 48%, 50%;
  --green-800-value: 90, 50%, 39%;
  --green-900-value: 90, 57%, 32%;
  --green-1000-value: 90, 36%, 15%;
  --green-100: hsla(var(--green-100-value), 1);
  --green-200: hsla(var(--green-200-value), 1);
  --green-300: hsla(var(--green-300-value), 1);
  --green-400: hsla(var(--green-400-value), 1);
  --green-500: hsla(var(--green-500-value), 1);
  --green-600: hsla(var(--green-600-value), 1);
  --green-700: hsla(var(--green-700-value), 1);
  --green-800: hsla(var(--green-800-value), 1);
  --green-900: hsla(var(--green-900-value), 1);
  --green-1000: hsla(var(--green-1000-value), 1);

  /* Teal */
  --teal-100-value: 169, 70%, 96%;
  --teal-200-value: 167, 70%, 94%;
  --teal-300-value: 168, 70%, 90%;
  --teal-400-value: 170, 70%, 85%;
  --teal-500-value: 170, 70%, 72%;
  --teal-600-value: 170, 70%, 57%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 91%, 25%;
  --teal-1000-value: 171, 80%, 13%;
  --teal-100: hsla(var(--teal-100-value), 1);
  --teal-200: hsla(var(--teal-200-value), 1);
  --teal-300: hsla(var(--teal-300-value), 1);
  --teal-400: hsla(var(--teal-400-value), 1);
  --teal-500: hsla(var(--teal-500-value), 1);
  --teal-600: hsla(var(--teal-600-value), 1);
  --teal-700: hsla(var(--teal-700-value), 1);
  --teal-800: hsla(var(--teal-800-value), 1);
  --teal-900: hsla(var(--teal-900-value), 1);
  --teal-1000: hsla(var(--teal-1000-value), 1);

  /* Purple */
  --purple-100-value: 276, 60%, 97%;
  --purple-200-value: 277, 60%, 97%;
  --purple-300-value: 274, 60%, 95%;
  --purple-400-value: 276, 60%, 92%;
  --purple-500-value: 274, 60%, 82%;
  --purple-600-value: 273, 60%, 73%;
  --purple-700-value: 272, 60%, 54%;
  --purple-800-value: 272, 60%, 45%;
  --purple-900-value: 274, 60%, 43%;
  --purple-1000-value: 276, 60%, 15%;
  --purple-100: hsla(var(--purple-100-value), 1);
  --purple-200: hsla(var(--purple-200-value), 1);
  --purple-300: hsla(var(--purple-300-value), 1);
  --purple-400: hsla(var(--purple-400-value), 1);
  --purple-500: hsla(var(--purple-500-value), 1);
  --purple-600: hsla(var(--purple-600-value), 1);
  --purple-700: hsla(var(--purple-700-value), 1);
  --purple-800: hsla(var(--purple-800-value), 1);
  --purple-900: hsla(var(--purple-900-value), 1);
  --purple-1000: hsla(var(--purple-1000-value), 1);

  /* Pink */
  --pink-100-value: 330, 70%, 96%;
  --pink-200-value: 340, 70%, 96%;
  --pink-300-value: 340, 70%, 94%;
  --pink-400-value: 341, 70%, 91%;
  --pink-500-value: 340, 70%, 84%;
  --pink-600-value: 341, 70%, 73%;
  --pink-700-value: 336, 70%, 58%;
  --pink-800-value: 336, 70%, 51%;
  --pink-900-value: 336, 70%, 45%;
  --pink-1000-value: 333, 70%, 15%;
  --pink-100: hsla(var(--pink-100-value), 1);
  --pink-200: hsla(var(--pink-200-value), 1);
  --pink-300: hsla(var(--pink-300-value), 1);
  --pink-400: hsla(var(--pink-400-value), 1);
  --pink-500: hsla(var(--pink-500-value), 1);
  --pink-600: hsla(var(--pink-600-value), 1);
  --pink-700: hsla(var(--pink-700-value), 1);
  --pink-800: hsla(var(--pink-800-value), 1);
  --pink-900: hsla(var(--pink-900-value), 1);
  --pink-1000: hsla(var(--pink-1000-value), 1);

  /* Background */
  --background-100-value: 0, 0%, 100%;
  --background-200-value: 0, 0%, 98%;
  /* --background-100: hsla(var(--background-100-value), 1); */
  --background-100: hsla(var(--amber-100-value), 1);
  --background-200: hsla(var(--amber-200-value), 1);

  /* Contrast */
  --contrast-fg: #ffffff;

  /* Focus */
  --focus-border: 0 0 0 1px var(--gray-alpha-600), 0px 0px 0px 4px rgba(0, 0, 0, 0.16);
  --focus-color: var(--blue-700);

  /* Vaul Overlay */
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);

  /* Functional Colors */
  --color-primary: var(--green-700);
  --color-secondary: var(--blue-700);
  --color-danger: var(--red-700);
  --color-warning: var(--amber-700);
  --color-success: var(--green-700);
  --color-info: var(--blue-700);
}

.dark-theme,
.color-scheme-dark {
  /* Gray */
  --gray-100-value: 30, 5%, 10%;
  --gray-200-value: 30, 5%, 12%;
  --gray-300-value: 30, 5%, 16%;
  --gray-400-value: 30, 5%, 18%;
  --gray-500-value: 30, 5%, 27%;
  --gray-600-value: 30, 5%, 53%;
  --gray-700-value: 30, 5%, 56%;
  --gray-800-value: 30, 5%, 49%;
  --gray-900-value: 30, 5%, 63%;
  --gray-1000-value: 30, 5%, 93%;
  --gray-100: hsla(var(--gray-100-value), 1);
  --gray-200: hsla(var(--gray-200-value), 1);
  --gray-300: hsla(var(--gray-300-value), 1);
  --gray-400: hsla(var(--gray-400-value), 1);
  --gray-500: hsla(var(--gray-500-value), 1);
  --gray-600: hsla(var(--gray-600-value), 1);
  --gray-700: hsla(var(--gray-700-value), 1);
  --gray-800: hsla(var(--gray-800-value), 1);
  --gray-900: hsla(var(--gray-900-value), 1);
  --gray-1000: hsla(var(--gray-1000-value), 1);
  --gray-alpha-100: rgba(255, 255, 255, 0.06);
  --gray-alpha-200: hsla(0, 0%, 100%, 0.09);
  --gray-alpha-300: hsla(0, 0%, 100%, 0.13);
  --gray-alpha-400: hsla(0, 0%, 100%, 0.14);
  --gray-alpha-500: hsla(0, 0%, 100%, 0.24);
  --gray-alpha-600: hsla(0, 0%, 100%, 0.51);
  --gray-alpha-700: hsla(0, 0%, 100%, 0.54);
  --gray-alpha-800: hsla(0, 0%, 100%, 0.47);
  --gray-alpha-900: hsla(0, 0%, 100%, 0.61);
  --gray-alpha-1000: hsla(0, 0%, 100%, 0.92);

  /* Blue */
  --blue-100-value: 216, 70%, 12%;
  --blue-200-value: 214, 70%, 15%;
  --blue-300-value: 213, 70%, 20%;
  --blue-400-value: 212, 70%, 23%;
  --blue-500-value: 211, 70%, 27%;
  --blue-600-value: 206, 70%, 50%;
  --blue-700-value: 212, 70%, 48%;
  --blue-800-value: 212, 70%, 41%;
  --blue-900-value: 210, 70%, 66%;
  --blue-1000-value: 206, 70%, 96%;
  --blue-100: hsla(var(--blue-100-value), 1);
  --blue-200: hsla(var(--blue-200-value), 1);
  --blue-300: hsla(var(--blue-300-value), 1);
  --blue-400: hsla(var(--blue-400-value), 1);
  --blue-500: hsla(var(--blue-500-value), 1);
  --blue-600: hsla(var(--blue-600-value), 1);
  --blue-700: hsla(var(--blue-700-value), 1);
  --blue-800: hsla(var(--blue-800-value), 1);
  --blue-900: hsla(var(--blue-900-value), 1);
  --blue-1000: hsla(var(--blue-1000-value), 1);

  /* Red */
  --red-100-value: 357, 80%, 12%;
  --red-200-value: 357, 80%, 16%;
  --red-300-value: 356, 80%, 22%;
  --red-400-value: 357, 80%, 26%;
  --red-500-value: 357, 80%, 32%;
  --red-600-value: 358, 80%, 59%;
  --red-700-value: 358, 80%, 59%;
  --red-800-value: 358, 80%, 52%;
  --red-900-value: 358, 80%, 69%;
  --red-1000-value: 353, 80%, 96%;
  --red-100: hsla(var(--red-100-value), 1);
  --red-200: hsla(var(--red-200-value), 1);
  --red-300: hsla(var(--red-300-value), 1);
  --red-400: hsla(var(--red-400-value), 1);
  --red-500: hsla(var(--red-500-value), 1);
  --red-600: hsla(var(--red-600-value), 1);
  --red-700: hsla(var(--red-700-value), 1);
  --red-800: hsla(var(--red-800-value), 1);
  --red-900: hsla(var(--red-900-value), 1);
  --red-1000: hsla(var(--red-1000-value), 1);

  /* Amber */
  --amber-100-value: 35, 100%, 8%;
  --amber-200-value: 32, 100%, 10%;
  --amber-300-value: 33, 100%, 15%;
  --amber-400-value: 35, 100%, 17%;
  --amber-500-value: 35, 91%, 22%;
  --amber-600-value: 39, 85%, 49%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 39, 90%, 50%;
  --amber-1000-value: 40, 94%, 93%;
  --amber-100: hsla(var(--amber-100-value), 1);
  --amber-200: hsla(var(--amber-200-value), 1);
  --amber-300: hsla(var(--amber-300-value), 1);
  --amber-400: hsla(var(--amber-400-value), 1);
  --amber-500: hsla(var(--amber-500-value), 1);
  --amber-600: hsla(var(--amber-600-value), 1);
  --amber-700: hsla(var(--amber-700-value), 1);
  --amber-800: hsla(var(--amber-800-value), 1);
  --amber-900: hsla(var(--amber-900-value), 1);
  --amber-1000: hsla(var(--amber-1000-value), 1);

  /* Green */
  --green-100-value: 90, 50%, 9%;
  --green-200-value: 90, 50%, 12%;
  --green-300-value: 90, 50%, 14%;
  --green-400-value: 90, 70%, 16%;
  --green-500-value: 90, 70%, 23%;
  --green-600-value: 90, 70%, 34%;
  --green-700-value: 90, 48%, 50%;
  --green-800-value: 90, 43%, 39%;
  --green-900-value: 90, 43%, 57%;
  --green-1000-value: 90, 73%, 94%;
  --green-100: hsla(var(--green-100-value), 1);
  --green-200: hsla(var(--green-200-value), 1);
  --green-300: hsla(var(--green-300-value), 1);
  --green-400: hsla(var(--green-400-value), 1);
  --green-500: hsla(var(--green-500-value), 1);
  --green-600: hsla(var(--green-600-value), 1);
  --green-700: hsla(var(--green-700-value), 1);
  --green-800: hsla(var(--green-800-value), 1);
  --green-900: hsla(var(--green-900-value), 1);
  --green-1000: hsla(var(--green-1000-value), 1);

  /* Teal */
  --teal-100-value: 169, 78%, 7%;
  --teal-200-value: 170, 74%, 9%;
  --teal-300-value: 171, 75%, 13%;
  --teal-400-value: 171, 85%, 13%;
  --teal-500-value: 172, 85%, 20%;
  --teal-600-value: 172, 85%, 32%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 90%, 41%;
  --teal-1000-value: 166, 71%, 93%;
  --teal-100: hsla(var(--teal-100-value), 1);
  --teal-200: hsla(var(--teal-200-value), 1);
  --teal-300: hsla(var(--teal-300-value), 1);
  --teal-400: hsla(var(--teal-400-value), 1);
  --teal-500: hsla(var(--teal-500-value), 1);
  --teal-600: hsla(var(--teal-600-value), 1);
  --teal-700: hsla(var(--teal-700-value), 1);
  --teal-800: hsla(var(--teal-800-value), 1);
  --teal-900: hsla(var(--teal-900-value), 1);
  --teal-1000: hsla(var(--teal-1000-value), 1);

  /* Purple */
  --purple-100-value: 283, 60%, 12%;
  --purple-200-value: 281, 60%, 16%;
  --purple-300-value: 279, 60%, 23%;
  --purple-400-value: 277, 60%, 28%;
  --purple-500-value: 274, 60%, 35%;
  --purple-600-value: 272, 60%, 54%;
  --purple-700-value: 272, 60%, 54%;
  --purple-800-value: 272, 60%, 45%;
  --purple-900-value: 275, 60%, 71%;
  --purple-1000-value: 281, 60%, 96%;
  --purple-100: hsla(var(--purple-100-value), 1);
  --purple-200: hsla(var(--purple-200-value), 1);
  --purple-300: hsla(var(--purple-300-value), 1);
  --purple-400: hsla(var(--purple-400-value), 1);
  --purple-500: hsla(var(--purple-500-value), 1);
  --purple-600: hsla(var(--purple-600-value), 1);
  --purple-700: hsla(var(--purple-700-value), 1);
  --purple-800: hsla(var(--purple-800-value), 1);
  --purple-900: hsla(var(--purple-900-value), 1);
  --purple-1000: hsla(var(--purple-1000-value), 1);

  /* Pink */
  --pink-100-value: 335, 70%, 12%;
  --pink-200-value: 335, 70%, 16%;
  --pink-300-value: 335, 70%, 21%;
  --pink-400-value: 335, 70%, 22%;
  --pink-500-value: 335, 70%, 27%;
  --pink-600-value: 336, 70%, 40%;
  --pink-700-value: 336, 70%, 58%;
  --pink-800-value: 336, 70%, 51%;
  --pink-900-value: 341, 70%, 67%;
  --pink-1000-value: 333, 70%, 96%;
  --pink-100: hsla(var(--pink-100-value), 1);
  --pink-200: hsla(var(--pink-200-value), 1);
  --pink-300: hsla(var(--pink-300-value), 1);
  --pink-400: hsla(var(--pink-400-value), 1);
  --pink-500: hsla(var(--pink-500-value), 1);
  --pink-600: hsla(var(--pink-600-value), 1);
  --pink-700: hsla(var(--pink-700-value), 1);
  --pink-800: hsla(var(--pink-800-value), 1);
  --pink-900: hsla(var(--pink-900-value), 1);
  --pink-1000: hsla(var(--pink-1000-value), 1);

  /* Background */
  --background-100-value: 0, 0%, 4%;
  --background-200-value: 0, 0%, 0%;
  --background-100: hsla(var(--gray-100-value), 1);
  --background-200: hsla(var(--gray-200-value), 1);

  /* Focus */
  --focus-border: 0 0 0 1px var(--gray-alpha-600), 0px 0px 0px 4px rgba(255, 255, 255, 0.24);
  --focus-color: var(--blue-900);
  --shadow-border-inset: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
/* END COLORS */

/* COMPONENT VARIABLES */
:root {
  --button-border-radius: 0.75rem;
  --button-color-primary: var(--green-700);
  --button-color-primary-hover: var(--green-800);
  --button-color-secondary: var(--blue-700);
  --button-color-secondary-hover: var(--blue-800);
  --button-color-danger: var(--red-700);
  --button-color-danger-hover: var(--red-800);
  --button-color-warning: var(--amber-700);
  --button-color-warning-hover: var(--amber-800);
  --button-color-success: var(--green-700);
  --button-color-success-hover: var(--green-800);
  --button-color-info: var(--blue-700);
  --button-color-info-hover: var(--blue-800);
}
/* END COMPONENT VARIABLES */
